@import "../../../assets/scss_styles/variables";

.profile {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 100%;

   .profile-title {
      color: $color_white;
      font-size: 1.625rem;
   }
}