@import '../../assets/scss_styles/global-imports';

.header {
   @include font($title_font, 1.375rem, $color_black, 600, $lh: false, );
   width: 100%;
   border-bottom: 0.0625rem solid $color_black;
   position: sticky;
   top: 0;
   z-index: 50;
   background: $color_white;

   .logo-img {
      max-height: 3.75rem;
      height: 100%;
      width: auto;
   }

}