$color_gray: #747474;
$color_light_gray: #d4d4d4;
$color_white: #fff;
$color_black: #000;
$color_orange: #ffa500;
$body_font: 'Poppins', sans-serif;
$title_font: 'Nunito Sans', sans-serif;
$filter_gray: invert(46%) sepia(2%) saturate(190%) hue-rotate(10deg) brightness(97%) contrast(94%);
$h: 100%;
$w: 100%;